<div class="header">
    <app-header
    (headerElementClientHeight)="this.headerComponentClientHeight($event)"
    />
</div>
<div class="body"
[style.marginTop.px]="headerComponentClientHeight$ | async"
>
    <router-outlet></router-outlet>
</div>
<div class="footer">
    <app-footer />
</div>
<!-- @if (!this.scheduleService.hideModalAfterTime()) { -->
    <div class="modal-background fixed top-0 left-0 w-full h-full bg-black/50 z-[4201]"
    (click)="this.toggleScheduleForm()"
    [ngClass]="{
        'modal-visible': this.scheduleService.showModalForm(),
        'modal-hidden': !this.scheduleService.showModalForm() && !this.scheduleService.isFirstLoad(),
        'modal-disappear': !this.scheduleService.showModalForm() && this.scheduleService.isFirstLoad(),
        'hidden': !this.scheduleService.hideModalAfterTime()
    }"
    ></div>
    <div class="modal w-[90%] xl:max-w-[454px] bg-white px-4 xl:px-8 pt-5 pb-4 xl:pb-8 fixed z-[4202] rounded-lg"
    [ngClass]="{
        'modal-visible': this.scheduleService.showModalForm(),
        'modal-hidden': !this.scheduleService.showModalForm() && !this.scheduleService.isFirstLoad(),
        'modal-disappear': !this.scheduleService.showModalForm() && this.scheduleService.isFirstLoad(),
        'hidden': !this.scheduleService.hideModalAfterTime()
    }"
    >
        <div class="modal-header w-full flex justify-end">
            <a href="javascript:void(0)" (click)="this.toggleScheduleForm()">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 6L6 18M6 6L18 18" stroke="#A0A0A0" stroke-opacity="0.6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </a>
        </div>
        <div class="modal-body">
            <form class="flex flex-col gap-y-2 xl:gap-y-5" [formGroup]="this.scheduleFormGroup" action="">
                <div class="input">
                    <label for="">Nome</label>
                    <div>
                        <input
                        type="text"
                        formControlName="name"
                        name="name"
                        placeholder=""
                        >
                    </div>
                </div>
                <div class="input">
                    <label for="">Email</label>
                    <div>
                        <input
                        type="email"
                        formControlName="email"
                        name="email"
                        placeholder=""
                        >
                    </div>
                </div>
                <div class="row flex flex-col gap-y-5 xl:flex-row xl:gap-x-4 justify-between xl:items-center">
                    <div class="input">
                        <label for="">Assunto</label>
                        <div>
                            <input
                            type="text"
                            formControlName="subject"
                            name="subject"
                            placeholder=""
                            >
                        </div>
                    </div>
                    <div class="input">
                        <label for="">Empresa</label>
                        <div>
                            <input
                            type="text"
                            formControlName="company"
                            name="company"
                            placeholder=""
                            >
                        </div>
                    </div>
                </div>
                <div class="input">
                    <label for="">Mensagem</label>
                    <div>
                        <textarea name="message" id="" cols="30" rows="3"></textarea>
                    </div>
                </div>
                <div class="button flex justify-center items-center">
                    <button type="submit" class="bg-primary text-white text-sm xl:text-base px-6 py-3 rounded">
                        Enviar mensagem de agendamento
                    </button>
                </div>
            </form>
        </div>
    </div>
<!-- } -->