<div class="areas-section">
    <div class="py-8 xl:py-20">
        <div class="section-title limited-container mb-12">
            <h1 class="text-black text-center xl:text-left text-[2.813rem] font-semibold leading-[3.313rem] tracking-tighter-[0.9px]"
            #titleElement
            >
                Áreas de actuação
            </h1>
        </div>
        <div class="section-content mt-6 overflow-x-auto"
        [style.paddingLeft.px]="sectionContentOffsetLeft$ | async"
        [style.paddingRight.px]="sectionContentOffsetLeft$ | async"
        >
            <div class="cards flex gap-x-8 justify-start items-stretch w-max">

                <div class="card p-4 w-[17.75rem] xl:w-[19.75rem] bg-white rounded-2xl border border-[rgba(74,158,248,0.10)] shadow-[0px_10px_40px_0px_rgba(0,89,224,0.05)]">
                    <div class="highlight-image mb-2 w-full overflow-hidden rounded-lg">
                        <img src="assets/images/home/areas/servicos-advocaticos.png" class="w-full h-full object-cover object-center" alt="">
                    </div>
                    <div class="title py-1">
                        <p class="text-[#030303] font-medium leading-6 tracking-[-0.24px]">
                            Serviços advocáticos
                        </p>
                    </div>
                </div>
                <div class="card p-4 w-[17.75rem] xl:w-[19.75rem] bg-white rounded-2xl border border-[rgba(74,158,248,0.10)] shadow-[0px_10px_40px_0px_rgba(0,89,224,0.05)]">
                    <div class="highlight-image mb-2 w-full overflow-hidden rounded-lg">
                        <img src="assets/images/home/areas/acessoria-e-consultoria-juridica.png" class="w-full h-full object-cover object-center" alt="">
                    </div>
                    <div class="title py-1">
                        <p class="text-[#030303] font-medium leading-6 tracking-[-0.24px]">
                            Assessoria e consultoria jurídica
                        </p>
                    </div>
                </div>
                <div class="card p-4 w-[17.75rem] xl:w-[19.75rem] bg-white rounded-2xl border border-[rgba(74,158,248,0.10)] shadow-[0px_10px_40px_0px_rgba(0,89,224,0.05)]">
                    <div class="highlight-image mb-2 w-full overflow-hidden rounded-lg">
                        <img src="assets/images/home/areas/marketing-juridico.png" class="w-full h-full object-cover object-center" alt="">
                    </div>
                    <div class="title py-1">
                        <p class="text-[#030303] font-medium leading-6 tracking-[-0.24px]">
                            Marketing Jurídico
                        </p>
                    </div>
                </div>
                <div class="card p-4 w-[17.75rem] xl:w-[19.75rem] bg-white rounded-2xl border border-[rgba(74,158,248,0.10)] shadow-[0px_10px_40px_0px_rgba(0,89,224,0.05)]">
                    <div class="highlight-image mb-2 w-full overflow-hidden rounded-lg">
                        <img src="assets/images/home/areas/representacao-juridica.png" class="w-full h-full object-cover object-center" alt="">
                    </div>
                    <div class="title py-1">
                        <p class="text-[#030303] font-medium leading-6 tracking-[-0.24px]">
                            Representação Jurídica
                        </p>
                    </div>
                </div>
                <div class="card p-4 w-[17.75rem] xl:w-[19.75rem] bg-white rounded-2xl border border-[rgba(74,158,248,0.10)] shadow-[0px_10px_40px_0px_rgba(0,89,224,0.05)]">
                    <div class="highlight-image mb-2 w-full overflow-hidden rounded-lg">
                        <img src="assets/images/home/areas/representacao-forense.png" class="w-full h-full object-cover object-center" alt="">
                    </div>
                    <div class="title py-1">
                        <p class="text-[#030303] font-medium leading-6 tracking-[-0.24px]">
                            Representação forense de e junto de quaisquer entidades públicas e privadas, singulares ou colectivas
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>