<header class="py-5 bg-white fixed top-0 left-0 w-full z-[4200] backdrop-blur-lg" #headerElement>
    <div class="limited-container flex justify-between items-center">
        <div class="logo max-w-[111px] xl:max-w-[140px] max-h-[45px] xl:max-h-[57px]">
            <img src="assets/images/static/logo.png" class="w-full h-full object-cover object-center" alt="">
        </div>
        <nav class="menu hidden xl:block">
            <ul class="flex gap-x-8 justify-start items-center">
                <li>
                    <a
                    href="javacript:void(0)"
                    class="text-[#030303] hover:text-primary transition-all font-medium"
                    >Quem Somos</a>
                </li>
                <li>
                    <a
                    href="javacript:void(0)"
                    class="text-[#030303] hover:text-primary transition-all font-medium"
                    >Áreas de Actuação</a>
                </li>
                <li>
                    <a
                    href="javacript:void(0)"
                    class="text-[#030303] hover:text-primary transition-all font-medium"
                    >Responsabilidade Social</a>
                </li>
                <li>
                    <a
                    href="javacript:void(0)"
                    class="text-[#030303] hover:text-primary transition-all font-medium"
                    >Contactos</a>
                </li>
            </ul>
        </nav>
        <div class="schedule">
            <button class="px-4 xl:px-6 py-3 font-bold xl:py-4 border-[2px] border-primary text-primary flex justify-center items-center gap-x-2 rounded">
                Agendar Consulta
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.16699 9.99984H15.8337M15.8337 9.99984L10.0003 4.1665M15.8337 9.99984L10.0003 15.8332" stroke="#00317A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </div>
</header>