<div class="hero-section relative h-[543px] xl:h-[746px]">
    <div class="background w-full h-full relative">
        <div class="overlay w-full h-full bg-black/30 absolute top-0 left-0 z-[1]"></div>
        <img src="assets/images/home/hero/hero-desktop.png" class="w-full h-full object-cover object-right" alt="">
    </div>
    <div class="hero-content absolute left-0 top-0 w-full h-full z-[2]">
        <div class="content-container w-full h-full flex flex-col gap-y-[64px] xl:gap-y-[88px] justify-center items-center">
            <div class="content-title">
                <h1 class="text-white text-center text-[3.5rem] xl:text-[5rem] font-bold leading-[64px] xl:leading-[96px] tracking-[1.12px] xl:tracking-[1.6px]">Defender, Contribuir, Realizar</h1>
            </div>
            <div class="content-button flex flex-col gap-[23px] items-center">
                <a href="javascript:void(0)" class="block bg-primary rounded text-white font-bold py-4 px-6">
                    Saiba mais sobre a BC Advogados
                </a>
                <button
                (click)="this.toggleScheduleForm()"
                class="px-4 xl:px-6 py-3 font-bold xl:py-4 border-[2px] bg-white text-primary flex xl:hidden justify-center items-center gap-x-2 rounded">
                    Agendar Consulta
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.16699 9.99984H15.8337M15.8337 9.99984L10.0003 4.1665M15.8337 9.99984L10.0003 15.8332" stroke="#00317A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>