<div class="footer-section">
    <div class="limited-container">

        <div class="topper-content py-10 flex justify-between items-center">
            <div class="logo max-w-[111px] xl:max-w-[140px] max-h-[45px] xl:max-h-[57px]">
                <img src="assets/images/static/logo.png" class="w-full h-full object-cover object-center" alt="">
            </div>
            <div class="gototop">
                <a href="javascript:void(0)" (click)="scrollTo()">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="40" height="40" rx="20" transform="matrix(0 1 1 0 0 0)" fill="#00317A"/>
                        <path d="M20 27V13M20 13L27 20M20 13L13 20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="bottom-content pb-4 flex flex-col gap-y-4 xl:flex-row justify-between xl:items-center">
            <div class="copyright">
                <p class="">
                    &copy; 2023 BC Advogados
                </p>
            </div>
            <div class="terms">
                <p class="">
                    Termos & políticas de Privacidade 
                </p>
            </div>
        </div>

    </div>
</div>